<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1011142331448-cgnqdf4dhcdsfdv4b5kqvcvd3bpq77lr.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1011142331448-cgnqdf4dhcdsfdv4b5kqvcvd3bpq77lr</string>
	<key>API_KEY</key>
	<string>AIzaSyBFjwxeTYhl36LK-PbOFV_8Y-o-prAGsFs</string>
	<key>GCM_SENDER_ID</key>
	<string>1011142331448</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.CherrierLaoussing.UnivMap</string>
	<key>PROJECT_ID</key>
	<string>univmap-6f22d</string>
	<key>STORAGE_BUCKET</key>
	<string>univmap-6f22d.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1011142331448:ios:f482dad6fae41491c7aacd</string>
</dict>
</plist>